/** внешний вид элементов */
header {
    background-image: url('../images/image1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;


}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    

}

.header__botton {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: #2DA884;
    height: 56px;
    width: 163px;
    border-radius: 28px;
    border: none;
}



span{
    color:#2DA884;
}

.header__logo {
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 38px;
    font-weight: 600;
}


.header__navigation-link {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 24px;
}

.header__navigation-select {
    font-family: "Montserrat", sans-serif;
    color: white;
    background: none;
    border: 0cap;
}

.header__central-text {
    color: white;
    /** положение в контейнерe*/
    display: grid; /* элемы в строчку */
    text-align: center; /* Свойство для выравнивания элементов внутри контейнера по поперечной оси */
    justify-content: center;
    gap: 24px;
    margin: 0 0 56px;
}


.big-text {
    font-weight: bold;
    font-size: 138px;
    margin: 80px 0 0 0;
}

.table {
    background-color: white;
    width: 986px;
    height: 152px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    

}
.inside-table{
    width: 100%;
    display: flex; /* элемы в строчку */
    align-items: center; /* Свойство для выравнивания элементов внутри контейнера по поперечной оси */
    justify-content: center;  /* Свойство выравнивает флекс-элементы внутри флекс-контейнера по основной оси. */ 
    
    gap: 10px;
    
}

.verticalLine {
    width: 0px;
    height: 72px;
    /* Высота до полного размера */
    background-color: #000;
}

.main-text1{
    box-shadow:
    0 5px 10px gray;
    width: 552px;
    height: 288px;
    border-radius: 20px;
    gap: 20px;
    margin: 0 0 40px 0;
}
.main-text2{
    box-shadow:
    0 5px 10px gray;
    width: 552px;
    height: 288px;
    border-radius: 20px;
    gap: 20px;
    margin: 0 0 80px 0;
;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 24px 98px;
    align-items: center;
   /* margin: 0 auto;
    max-width: 900px;
    width: 100%;*/
}

.main-container-bottom{
     display: flex;
}

.main-page{
    
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}

.header__bottom{
    margin: 0 auto;
    max-width: 900px; /*исправить на норм шир*/
    width: 100%;
    align-items: center;
    justify-content: center;
    

}

.header__central-button{
    width: 100%;
    display: flex; /* элемы в строчку */
    align-items: center; /* Свойство для выравнивания элементов внутри контейнера по поперечной оси */
    justify-content: center;  /* Свойство выравнивает флекс-элементы внутри флекс-контейнера по основной оси. */ 
    gap: 40px; /* пробел между элемами */
    margin: 0 0 104px 0;
    
}

.puk{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: #2DA884;
    height: 88px;
    width: 204px;
    border-radius: 68px;
    border: none;
}

.big-words-inside{
    font-size: 51px;
    margin:  0 0 0 3px;
}
.undertext{
    font-size: 16px;
    margin: 0 0 0 0;
}

.itmes-table{
    margin: 32px;
    display: grid; /* элемы в строчку */
    text-align: center; /* Свойство для выравнивания элементов внутри контейнера по поперечной оси */
    justify-content: center;
}

